@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Hairline;
    src: url('../fonts/Lato/Lato-Hairline.ttf'); 
  }
  
  @font-face {
    font-family: PlayfairDisplay-Italic;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf'); 
  }



.l1-txt2 {
  font-family: PlayfairDisplay-Italic;
  font-size: 90px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.m1-txt2 {
  font-family: PlayfairDisplay-Italic;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}

.p-b-37 {padding-bottom: 37px;}

.p-r-20 {padding-right: 20px;}

.m-b-30 {margin-bottom: 30px;}

@media(max-width:  992px) {

  .l1-txt2 {
    font-size: 50px;
  }
 .m1-txt2 {
    font-size: 16px;
  }
}

@media(max-width: 768px) {

  .l1-txt2 {
    font-size: 38px;
  }
 .m1-txt2 {
    font-size: 18px;
  }

.p-b-37 {padding-bottom: 17px;}

.p-r-20 {padding-right: 20px;}

.m-b-30 {margin-bottom: 30px;}
}

@media(max-width: 468px) {

  .l1-txt2 {
    font-size: 32px;
  }
 .m1-txt2 {
    font-size: 14px;
  }
  
}






.flex-w,
.flex-c,
.flex-col-c,
.dis-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-c {
	justify-content: center;
}

.flex-col-c {
	-ms-align-items: center;
	align-items: center;
}

.flex-col-c,
.flex-col {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

