@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Hairline;
    src: url('../fonts/Lato/Lato-Hairline.ttf'); 
  }
  
  @font-face {
    font-family: PlayfairDisplay-Italic;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf'); 
  }


/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Lato-Hairline;
  font-size: 72px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}

.l1-txt2 {
  font-family: PlayfairDisplay-Italic;
  font-size: 90px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

  /*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.m1-txt1 {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  text-transform: uppercase;
}

.m1-txt2 {
  font-family: PlayfairDisplay-Italic;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}


.p-b-37 {padding-bottom: 37px;}

.p-r-20 {padding-right: 20px;}

.m-b-30 {margin-bottom: 30px;}

.flex-w,
.flex-c,
.dis-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-c {
	justify-content: center;
}

.flex-col-c {
	-ms-align-items: center;
	align-items: center;
}

.flex-col-c,
.flex-col {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
